.principal {
  height: calc(100vh - 75px);
  border-right: 5px solid #80808082;
}

.option {
  width: 200px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #848484a6;
  font-size: 20px;
}

.select {
  background: #80808052;
  color: #7e7e7e;
}

.secundary {
  height: calc(100vh - 75px);
  overflow: hidden;
  width: 300px;
}

.optionsContent {
  display: flex;
  padding: 5px 12px;
  justify-content: space-between;
  align-items: center;
}

.opt {
  border: 1px solid darkgray;
  padding: 5px;
  border-radius: 25px;
  cursor: pointer;
}

.search {
  width: 276px;
  margin: 5px 12px;
  border-radius: 20px;
  border: 1px solid darkgray;
  padding: 5px 15px;
}

.optIcon {
  color: #00aab4;
}

.titles {
  margin-top: 10px;
  background: #bebebe;
  color: black;
  display: flex;
  padding: 5px;
}

.title {
  width: 33%;
  text-align: center;
}

.open {
  width: 300px;
}

.close {
  width: 0;
}

.showHide {
  width: 15px;
  height: calc(100vh - 75px);
  box-shadow: 6px 0 5px #8080806e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
}

.btnshowhide {
  color: white;
  background: #00aab4;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}